.nav-item {
  position: relative;
}

.sub-navbar {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.sub-navbar li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
}

.sub-navbar li a:hover {
  background-color: #f0f0f0;
}

/* Mostrar submenú al hacer hover */
.nav-item:hover .sub-navbar {
  display: block;
}

/* Sección de categorías Linea Clásica  */
    .categorias-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
    }

    .categoria {
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      text-align: center;
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .categoria img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      display: block;
    }

    .categoria h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 15px 0 5px;
    }
    .categoria:hover {
      transform: translateY(-5px);
    }

    .btn-ver-todo {
      margin: 15px 0 20px;
    }
