img{
    border-radius: 50%;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-top: 37px;
}

.navbar-custom {
    background-color: #7b3c1a; /* Este es un color marrón */
}
